.wide-width {
	width: 80vw;
    margin-left: calc(50% - 40vw);
    margin-right: calc(50% - 80vw);
}
.full-width {
	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
}