@import url(paragraph_image-float.css);
@import url(paragraph_image-grid.css);
@import url(paragraph_image-widths.css);
@import url(paragraph_slideshow.css);

/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */



/* DEFAULt PARAGRAPHS */
.paragraph{
	position: relative;
	margin-bottom: 1em;
}
.paragraph:after{
  content: "";
  display: table;
  clear: both;
}

/*widths*/
.width-narrow,
.components--type-simple-title-and-body,
.components--type-callout,
.highlighted {
    width:100%;
    max-width: 950px;
    margin: 0 auto;
}
.wide-width,
.width-wide {
    width: 80vw;
    margin-left: calc(50% - 40vw);
    margin-right: calc(50% - 80vw);
	max-width: none;
}
.full-width,
.width-full {
	margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
	max-width: none;
}
.page-node-type-landing .main-container.container {
    width: 100%;
    padding: 0;
}
.width-narrow,
.width-wide,
.width-full,
.components--type-simple-title-and-body,
.components--type-callout {
/*    padding-left: 15px;*/
    padding-top: 15px;
}

.components{
    padding-top: 50px;
    padding-bottom: 50px;
    float: none;
}

/*component background selector*/
.bg-color-white {
    background:#fff;
}
.bg-color-light-gray {
    background:#ecebe7;
}

/*components slideshow*/
.components--type-slideshow.width-full {
    padding-left: 0;
}
.components .slick--optionset--slideshow .slide .field--name-field-description {
    position: absolute;
    bottom: 80px;
    margin: 0 5%;
    max-width: 70%;
    width: 100%;
    color: #fff;
    font-size: 1.375rem;
    z-index: 100;
}

/*slick-dots*/
.components .slick-dots {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    position: absolute;
    bottom: 40px;
    align-items: center;
}
.components--type-testimonial .slick-dots {
    position: relative;
    bottom: auto;
}
.components .slick-dots li {
    margin: 0 7px;
    line-height: 0;
}
.components .slick-dots button {
    background: none;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 10px;
    font-size: 0;
}
.components--type-testimonial .slick-dots button {
    border: 1px solid #000;
}
.components .slick-dots .slick-active button,
.components .slick-dots li:hover button {
    background-color: #fff;
    padding: 7px;
}
.components--type-testimonial .slick-dots .slick-active button,
.components--type-testimonial .slick-dots li:hover button {
    background-color:#000;
}
@media screen and (max-width:768px) {
    .components .slick-dots button,
    .components .slick-dots .slick-active button, .components .slick-dots li:hover button {
        padding: 5px;
    }
    .components .slick-dots {
        bottom: 20px;
    }
    .components .slide .field--name-field-description {
        bottom: 40px;
        font-size: 1.125rem;
    }
}

/*component testimonial*/
.components--type-testimonial {
    text-align: center;
}
.components--type-testimonial > div:not(.contextual) {
    margin: 0 20%;
}

/*call to action field*/
.field--name-field-call-to-action {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    clear: both;
    margin: 40px auto 0;
    justify-content: center;
}

/*component link cards*/
.components--type-link-cards .bs-region--top h3 {
    text-align: center;
}
.components--type-link-cards .field--name-field-link-card {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}
.components--type-link-cards .eck-entity {
    height: 100%;
}
/*///////FLUID COLUMN STYLES///////*/

/*.components--type-link-cards .field--name-field-link-card > .field--item {
    flex-basis: 100%; /will define 3 columns/
    flex-grow: 1; /this will behave as 1fr/
    padding: 0 15px;
    margin-bottom: 15px;
}*/
/*@media screen and (min-width:768px) {
    .components--type-link-cards .field--name-field-link-card > .field--item {
        width:50%; /will define 3 columns/
        flex-grow: /1; this will behave as 1fr/
    }
}*/
/*@media screen and (min-width:960px) {
    .components--type-link-cards .field--name-field-link-card > .field--item {
        flex-basis: 30%; /will define 3 columns/
        flex-grow: 1; /this will behave as 1fr/
        min-width: 33.3333%;
    }
}*/
/*END FLUID COLS*/
.components--type-link-cards .field--name-field-link-card > .field--item {
    width: 100%;
    margin-bottom: 30px;
}
@media screen and (min-width:768px) {
    .components--type-link-cards .field--name-field-link-card > .field--item {
        width: 50%;
        padding: 0 15px;
    }
}
@media screen and (min-width:1024px) {
    .components--type-link-cards .field--name-field-link-card > .field--item {
        width: 33.3333%;
    }
}

.components--type-link-cards .elements {
    margin: 0;
    width: 100%;
    background: #e9e8e3;
}
.components--type-link-cards > .bs-region--main { /*remove extra padding from region*/
    padding: 0;
}

.components--type-link-cards img {
    width: 100%;
    max-width: 100%;
}
/*card stacked*/
.erd-list--card-stacked img {
    object-fit: cover;
    max-height: 300px;
    overflow: hidden;
}
.erd-list--card-stacked .bs-region {
    padding: 0;
}

/*card background image*/
.elements--view-mode-card-background-image .bs-region--main {
    position: relative;
    color: #fff;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 400px;
    height: 100%;
}
.elements--view-mode-card-background-image  div.contextual-region {
    position: unset;
}
.elements--view-mode-card-background-image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.link-card-text-wrapper {
    position: relative;
    z-index: 200;
    width: 100%;
    text-align: center;
    padding: 50px;
}
.link-card-text-wrapper > * {
    margin: 0 0 15px;
}

/*callout*/
.layout-image-right h3,
.layout-image-right > .field {
    margin-bottom: 15px;
}

/*optional headline intro*/
.field--name-field-headline,
.field--name-field-headline-intro {
    text-align: center;
    margin-bottom: 20px;
}

/*hero banner options*/

/*basic title*/
.basic-title {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

/*with background*/
.node--type-page .field--name-body {
    margin-top: 40px; 
}
.title-banner-container {
    position: relative;
    width: 100vw;
    color: #fff;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 400px;
}
.path-frontpage .title-banner-container {
    min-height: 700px;
}
.title-banner-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
.title-banner-container .field--name-field-title-banner-media .contextual-region {
    position: unset;
}
.title-banner-content {
    padding: 50px 30px;
    position: relative;
    z-index: 200;
    color: #fff;
    text-align: center;
    max-width: 650px;
    margin: -30px auto 0;
}
.components--type-slideshow .field--name-field-media-image {
    position: relative;
}
.field--name-field-title-banner-media:after,
.components--type-slideshow .field--name-field-media-image:after,
.elements--view-mode-card-background-image .field--name-field-imagee:after {
    content: "";
    background: rgba(0,0,0,.2);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    position: absolute;
}

/*person content type*/
.person-title {
    display: flex;
}
.person-title .field--name-field-last-name {
    margin-left: 15px;
}
.person-photo img {
    border-radius: 100%;
    max-width: 200px;
}
.person-photo {
    margin-bottom: 50px;
}
.view-person-listing .field--name-body {
    margin-top: 20px;
}
.view-person-listing .person-photo {
    margin-bottom: 0;
}


/*layout image*/
.layout-image-right {
    display: flex;
    flex-wrap: wrap;
}
.layout-image-right .bs-region--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.field--name-field-media-caption {
    margin-top: 10px;
}
.field--name-field-tags h2 {
    font-weight: normal;
    font-size: 1.0trem;
}

/*view row spacing*/
.btn-default a {
    color: #fff;
}
.views-row h2 {
    font-size: 24px; /*h3 size*/
    font-size: 1.5rem;
    margin: 10px 0;
}
.view h3 {
    margin: 10px 0;
}
.listing-rows .views-row {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}
.views-row .type-label {
    text-transform: uppercase;
    font-size: 12px;
}


/*form inline*/
.view-filters {
    margin-bottom: 40px;
}
.view-filters .form-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: -15px;
    margin-bottom: 0;
    margin-right: -15px;
}
.view-filters .form-item {
    min-width: 25%;
    flex-wrap: wrap;
    display: flex;
    padding: 0 15px;
}
.form-inline .form-control,
.select-wrapper {
    width: 100% !important;
}